body {
  background-color: #ecf0f1;
}

h1 {
  color: darkblue;
  transition: color 0.5s ease-in-out;
}

.btn { 
  cursor: pointer;
}

.clicked {
  color: blueviolet;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}